

<div class="profile-container">
  <%#= image_tag @customer.get_image(100,100) %>
  <% if @customer.id == current_customer.id %>
  <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>


<div>
  <%#= link_to post_image_path(post_image.id) do %>
    <%#= image_tag.customer.get_image %>
  <%# end %>
  <%#<p>投稿ユーザー画像：<%#= image_tag.customer.get_profile_image(100,100) %></p>
  <p>ニックネーム：<%= @customer.name %></p>
  <p>年齢：<%= @customer.age %></p>
  <p>メールアドレス：<%= @customer.email %></p>
</div>