<div class="profile-container">
  <% if @customer.id == current_customer.id %>
  <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
</div>


<div>
  <p>ニックネーム：<%= @customer.name %></p>
  <p>年齢：<%= @customer.age %></p>
  <p>メールアドレス：<%= @customer.email %></p>
</div>