<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div>
        <h2 class="text-center my-5">本当に退会しますか？</h2>
      </div>
      <div class="d-flex justify-content-around mt-5">
        <%= link_to "退会しない",root_path,class:"btn btn-primary"%>
        <%= link_to "退会する",customer_withdraw_path,method: :patch,class:"btn btn-danger", data: {confirm: "削除しますか？"} %>
      </div>
    </div>
  </div>
</div>