<table class="table table-bordered">
  <tr>
    <td>ニックネーム：<%= customer.name %></td>
  </tr>
  <tr>
    <td>年齢：<%= customer.age %></td>
  </tr>
  <tr>
    <td>メールアドレス：<%= customer.email %></td>
  </tr>
  <tr>
    <th><%= link_to "編集する",edit_customer_path(customer.id), class:"btn btn-success ml-5"%></th>
  </tr>
</table>