<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <% @posts.each do |post| %>
          <div class="card mb-6">
            <p class="card-header-title">
              <%= post.review_title %>
            </p>
            <div>
              <%= link_to post_reviews_path(ramen_shop), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to new_post_path(ramen_shop), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>