
<h2 class="mt-3">新規投稿</h2>
<%= form_with model: @post do |f| %>
  <h6>タイトル</h6>
    <%= f.text_field :review_title %>

  <h6>レビュー</h6>
    <%= f.text_area :background %>

  <%= f.submit '投稿', class: "btn btn-success" %>
<% end %>