<div class="container my-5">
  <h1>管理者top</h1>
  <!-- 新着レビュー表示 -->
  <h4 class="recommendation"><i class="fas fa-crown"></i> 新着レビュー <i class="fas fa-crown"></i></h4><br>
  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <div class="card mb-6">
          <div class="card-header">
            <p class="card-header-title">
              <%= post.review_title %>
              <p class="text-right"><%= post.show_tag_name %></p>
            </p>
          </div>
          <div class="card-footer">
            <%= link_to admin_post_path(post.id), class: "button card-footer-item" do %>
              レビューを見る
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>